<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.comisariaapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ComisariaApp">
        <activity android:name=".activity.AcercaDeNosotrosActivity"></activity>
        <activity android:name=".activity.MisSugerenciasActivity" />
        <activity android:name=".activity.BuzonSugerenciasActivity" />
        <activity android:name=".activity.CambiarClaveActivity" />
        <activity android:name=".activity.OlvideClaveActivity" />
        <activity android:name=".activity.ConsultarDenuncias" />
        <activity android:name=".activity.DetalleMisDenunciasActivity" />
        <activity android:name=".activity.MisTramitesActivity" />
        <activity android:name=".activity.MisDenunciasActivity" />
        <activity android:name=".activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.RegistrarDenunciaActivity" />
        <activity android:name=".activity.ConsultarTramiteActivity" />
        <activity android:name=".activity.RegistrarTramiteActivity" />
        <activity android:name=".activity.RegistrarUsuarioActivity" />
        <activity android:name=".activity.DetalleDenunciaActivity" />
        <activity android:name=".activity.MenuActivity" />
    </application>

</manifest>